<% layout('layouts/boilerplate') %>

    <div class="container">
        <%- include('../views/partials/flash') %>
    </div>

    <div class="container index-picture">
      <section id="hero">
      </section>
    </div>

    <div class="container d-flex flex-wrap justify-content-center">
        <div class="image-brand mx-3">
            <a href="#"><img src="/images/logos/nike-logo.png" alt=""></a>
        </div>
        <div class="image-brand mx-3">
            <a href="#"><img src="/images/logos/adidas-logo.png" alt=""></a>
        </div>
        <div class="image-brand mx-3">
            <a href="#"><img src="/images/logos/hugo-logo.png" alt=""></a>
        </div>
        <div class="image-brand mx-3">
            <a href="#"><img src="/images/logos/lacoste-logo.png" alt=""></a>
        </div> 
    </div>

    <section id="product1" class="section-p1 ">
        <h4 class="mx-1 my-2 my-md-4"><em>FEATURED PRODUCTS</em></h4>
    
        <div class="container d-flex justify-content-center flex-wrap mt-4 mb-3">
            <% for (let product of products) { %>
                <div class="card pro event rounded-0 border-0" data-product-id="<%= product._id %>">
                    <div class="img-container">
                        <div class="overlay">
                            <i class="magnifier-icon fas fa-search"></i>
                        </div>
                        <img class="card-img-top" src="<%= product.images[0].url %>" alt="..." />
                    </div>
                    <div class="card-body py-3 px-1">
                        <div class="text-start">
                            <h5 class="fw-semibold"><%= product.brand.toUpperCase() %> <%= product.model %></h5>
                            <span>$<%= product.price %></span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        
    </section>

    