<% layout('layouts/boilerplate') %>

    <div class="container">
      <div class="row mb-4">
        <h2 class="text-center mt-4">Add Product</h2>
        <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
            <form action="/products" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <input type="text" id="brand" name="product[brand]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a brand of the product.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="model" class="form-label">Model:</label>
                    <input type="text" id="model" name="product[model]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a model of the product.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" id="price" name="product[price]" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                        <div class="invalid-feedback">
                            Please provide a price of the product.
                        </div>
                    </div>
                    
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Images: </label>
                    <input type="file" name="image" id="image" class="form-control" multiple required>
                    <div class="invalid-feedback">
                        Please provide at least 1 image of the product.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <select class="form-select" id="type" name="product[type]" required>
                        <option selected disabled value="">Open this select menu</option>
                        <option value="hoodie">Hoodie</option>
                        <option value="tshirt">T-shirt</option>
                        <option value="shoes">Shoes</option>
                        <option value="pants">Pants</option>
                        <option value="track">Track</option>
                        <option value="sweatshirt">Sweatshirt</option>
                        <option value="jeans">Jeans</option>
                        <option value="polo">Polo</option>
                        <option value="underwear">Underwear</option>
                        <option value="socks">Socks</option>
                    </select>

                    <div class="invalid-feedback">
                        Please select the type of the product.
                    </div>                
                </div>
            
                <div class="d-grid my-3">
                    <button class="btn btn-primary">Add Product</button>
                </div>
            </form>
            <a href="/">Back to Home Page</a>
        </div>
    </div>
    <h2 class="text-center my-4">All Product</h2>
    <div class="container table-container border rounded px-0 mb-4">
      <div class="table-responsive">
        <table class="table mb-0" style="min-width: 600px;">
          <thead>
            <tr>
              <th scope="col" style="width: 35%; border-radius: 10px !important;">Photos</th>
              <th scope="col" style="width: 20%;">Brand</th>
              <th scope="col" style="width: 20%;">Model</th>
              <th scope="col" style="width: 15%;">Price</th>
              <th scope="col" style="width: 10%; border-radius: 10px !important;">Functions</th>
            </tr>
          </thead>
          <tbody>
            <% for(product of products) { %>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center overflow-x-auto">

                      <% for(image of product.images) {%>
                        <img
                        src=<%= image.url %>
                        class="img-fluid me-1"
                        style="width: 100px; height: 100px"
                        alt=""
                        />
                      <% } %>
                      
                      
                      <!-- <input type="text" class="border rounded w-100 px-1" name="image" value="<%= product.images[0].url %>"> -->
                      
                    </div>
                  </th>
                  <td>
                    <p class="mb-0 mt-4">
                      <input type="text" class="border rounded w-100 px-1" name="brand" value="<%= product.brand %>" readonly>
                    </p>
                    <!-- <p class="mb-0 mt-4"><%= product.brand %></p> -->
                  </td>
                  <td>
                    <!-- <p class="mb-0 mt-4"><%= product.model %></p> -->
                    <p class="mt-4">
                      <input type="text" class="border rounded w-100 px-1" name="name" value="<%= product.model %>" readonly>
                    </p>
                  </td>
                  <td>
                    <!-- <p class="mb-0 mt-4"><%= product.price %>0 лв.</p> -->
                    <p class="mb-0 mt-4">
                      <input type="text" class="border rounded w-100 px-1" name="price" value=<%= product.price %> readonly>
                    </p>
                  </td>
                  <td>
                    <form action=<%= `/products/${product.id}?_method=DELETE` %> class="mt-4" method="post" style="display: inline-block !important;">
                      <button class="btn btn-sm btn-md-md rounded bg-danger text-white border">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
  
            <% } %>
  
            
          </tbody>
        </table>
      </div>
    </div>
    </div>
