<% layout('layouts/boilerplate') %>
    
    <section id="product1" class="section-p1">
    <h4 class="mx-1 my-4"><em>ALL PRODUCTS</em><span class="fs-5 fw-normal align-baseline text-body-secondary">(<%= products.length %> products)</span></h4>

        <div class="container d-flex justify-content-center flex-wrap">
            <% for (let product of products) { %>
                <div class="card pro event rounded-0 border-0" data-product-id="<%= product._id %>">
                    <div class="img-container">
                        <div class="overlay">
                            <i class="magnifier-icon fas fa-search"></i>
                        </div>
                        <img class="card-img-top" src="<%= product.images[0].url %>" alt="..." />
                    </div>
                    <div class="card-body py-3 px-1">
                        <div class="text-start">
                            <h5 class="fw-semibold"><%= product.brand.toUpperCase() %> <%= product.model %></h5>
                            <span>$<%= product.price %></span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
   
      

      
