<% layout('layouts/boilerplate') %>

    <div class="my-4 my-md-5 container">
        <h3 class="text-center mb-4">Your Profile</h3>
        <div class="row justify-content-center">
            <%- include('partials/menu') %>

            <div class="col-md-7">
                <form action="/profile/<%= currentUser._id %>?_method=PUT" method="post">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="username"  value="<%= currentUser.username %>" disabled>
                        </div>
                        <div class="col-6">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="text" class="form-control" id="phone" aria-describedby="phone" name="phone" maxlength="12" value=<%= currentUser.phone ? currentUser.phone : "" %>>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="firstName" maxlength="20" value=<%= currentUser.firstName ? currentUser.firstName : "" %>>
                        </div>
                        <div class="col-6"> 
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="lastName" maxlength="20" value=<%= currentUser.lastName ? currentUser.lastName : "" %>>
                        </div>
                    </div>
                    <fieldset disabled>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" value="<%= currentUser.email %>">
                    </div>
                    </fieldset>

                    <!-- <div class="row mb-3">
                        <div class="col-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="user[password]">
                        </div>
                        <div class="col-6">                    
                            <label for="password" class="form-label">Repeat password</label>
                            <input type="password" class="form-control" id="password" name="user[repeatPass]">
                            
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
